<div>
    <div class="client-detail">
        <div layout="row" style="font-weight: 700;margin-bottom: 8px" layout-align="left center">
            <div style="font-size:24px;font-weight: 700">Edycja</div>
        </div>

        <div layout-padding="4">
            <label>Rejestracja</label>
            <input ng-model="$ctrl.object.registration"   type="text" placeholder="Rejestracja" name="registrationField"
                   class="form-control input-lg">
        </div>




        <div layout="row" layout-padding >
            <action-button on-click="$ctrl.onEditAction({vehicle:object})" title="Edytuj" color="btn-primary" size="sm"
                           style="margin-right:10px"></action-button>
            <action-button on-click="$ctrl.exitEditMode()" title="Anuluj" color="btn-default" size="sm"></action-button>
        </div>
    </div>
</div>
