
<div class="card">
    <div class="modal-header">
        <h3 class="modal-title">Utwórz osobę</h3>
    </div>
    <div class="modal-body">
        <div>
            <div layout="column">
                <div class="alert alert-danger" role="alert" ng-if="$ctrl.errorMessage">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{$ctrl.errorMessage}}
                </div>
                <registration_vehicle_field vehicle-registration="$ctrl.resolve.vehicle.registration"
                                            vehicles="$ctrl.vehicles" style="padding-top:0; padding-bottom: 0" form_name = "createVehicle"></registration_vehicle_field>

                <div layout-padding="4" style="padding-top:0">
                    <label>Typ</label>
                    <div class="my-typehead-wrapper" >
                        <select chosen ng-model="$ctrl.resolve.vehicle.type"
                                ng-options="type  for type in $ctrl.resolve.types"
                                data-placeholder="Typ" class="form-control input-lg">
                            <option value="">Wybierz typ</option>
                        </select>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$ctrl.ok($ctrl.resolve.vehicle)" >
            Zapisz
        </button>
        <button class="btn btn-default" ng-click="$ctrl.cancel()">
            Zamknij
        </button>

    </div>
</div>



