
<div class="card">
    <div layout="row" layout-align="start center" ></div>

    <div class="modal-header">
        <h3 class="modal-title">{{$ctrl.title}}</h3>
    </div>
    <div class="modal-body">
        <div style="font-size:15px">
            Poniższe osoby pojazdy znajdują sie po złej lokalizacji (status w aplikacji)
            <ul class="list-group clear-list">
                <li ng-repeat="object in $ctrl.resolve.objects" class="list-group-item fist-item">
                    <person_or_vehicle_row object="object"></person_or_vehicle_row>
                </li>
            </ul>

        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$ctrl.ok($ctrl.resolve.objects)" >
            Zmien lokazizacje i zapisz
        </button>
        <button class="btn btn-default" ng-click="$ctrl.cancel()">
            Anuluj
        </button>

    </div>
</div>
