<div>
    <div class="client-detail">
        <div layout="row" style="font-weight: 700;margin-bottom: 12px" layout-align="center center">
            <div style="font-size:24px;font-weight: 700">Sprzęt firmowy</div>
            <div flex style="margin-left:20px">
            </div>
            <div class="pull-right">
                <button class="btn btn-default" ng-click="$ctrl.onEditAction()">Edytuj</button>
            </div>
        </div>
        <ul class="list-group clear-list" style="margin-left:4px">
            <li class="list-group-item fist-item" style="padding-top:5px;padding-bottom: 5px">
                <div layout="row" style="margin-bottom: 5px">
                    <div flex="25">Kod</div>
                    <div flex><strong>{{$ctrl.item.code}}</strong></div>
                </div>
            </li>

            <li class="list-group-item" style="padding-top:5px;padding-bottom: 5px">
                <div layout="row" style="margin-bottom: 5px">
                    <div flex="25">Nazwa</div>
                    <div flex><strong>{{$ctrl.item.name}}</strong></div>
                </div>
            </li>

            <li class="list-group-item" style="padding-top:5px;padding-bottom: 5px">
                <div layout="row" style="margin-bottom: 5px">
                    <div flex="25">Type</div>
                    <div flex><item-type type="$ctrl.item.type"></item-type></div>
                </div>
            </li>
            <li class="list-group-item" style="padding-top:5px;padding-bottom: 5px">
                <div layout="row" style="margin-bottom: 5px">
                    <div flex="25">Data utworzenia</div>
                    <div flex><strong>{{$ctrl.item.createdDate |date:'yy-MM-dd HH:mm'}}</strong></div>
                </div>
            </li>
            <li class="list-group-item" style="padding-top:5px;padding-bottom: 5px">
                <div layout="row" style="margin-bottom: 5px">
                    <button class="btn btn-default" ng-click="$ctrl.showLinkedPersons = true" ng-if="$ctrl.showLinkedPersons == false && !$ctrl.item.assignedPerson" style="margin-bottom: 0;padding-top:3px;padding-bottom: 3px;width:160px;height:28px"><i class="fa fa-plus"></i>Przydziel osobę</button>
                    <section ng-if="$ctrl.item.assignedPerson && $ctrl.showLinkedPersons == false" flex layout="row">
                        <div flex="25">Przypisana os</div>
                        <div flex><strong> {{$ctrl.item.assignedPerson.surnameAndName}}, {{$ctrl.item.assignedPerson.phone}}</strong></div>
                        <button class="btn btn-default" ng-click="$ctrl.showLinkedPersons = true"   ng-if="$ctrl.showLinkedPersons == false" style="margin-bottom: 0;padding-top:3px;padding-bottom: 3px;width:160px;height:28px"><i class="fa fa-plus"></i>Przydziel osobę</button>
                    </section>

                    <section ng-if="$ctrl.showLinkedPersons == true" >
                        <chose-person-table persons="$ctrl.persons" chose="$ctrl.chose(object)"></chose-person-table>
                    </section>
                </div>
            </li>
            <li class="list-group-item" style="padding-top:5px;padding-bottom: 5px"></li>
        </ul>
    </div>
</div>
