<div layout-padding="4" ng-if="!$ctrl.disabled" class="form-group my_has-feedback">
    <div flex ng-if="$ctrl.isActive" class="well">
        <div class="my-typehead-wrapper">

        <textarea flex ng-model="$ctrl.comment" class="form-control input-lg" placeholder="Komentarz"
                  rows="4"> </textarea>

            <img ng-if="$ctrl.online && $ctrl.showRecordIcon('commentField',$ctrl.formName)" ng-src="{{$ctrl.micAnimateSrc}}"
                 ng-click="$ctrl.clickRecordIcon('commentField',$ctrl.formName)" class="my_form-control-feedback"/>

            <img ng-if="$ctrl.online && !$ctrl.showRecordIcon('commentField',$ctrl.formName)" ng-src="{{$ctrl.micSrc}}"
                 ng-click="$ctrl.clickRecordIcon('commentField',$ctrl.formName)" class="my_form-control-feedback"/>

            <button ng-click="$ctrl.save()" class="btn btn-primary" style="margin-right:10px; margin-top:5px">Zapisz
            </button>
            <button ng-click="$ctrl.cancel()" class="btn" style=" margin-top:5px">Anuluj</button>
        </div>
    </div>


    <div flex layout="row" ng-if="!$ctrl.isActive" ng-click="$ctrl.editComment()" class="well"
         style="min-height:44px; margin-top:15px;margin-bottom:0">

        <div flex ng-if="!$ctrl.comment.length" style="font-size:15px; margin-right:14px">Nie dodano komentarza</div>
        <button ng-if="!$ctrl.comment.length" class="btn btn-default"
                style="margin-bottom: 0;padding-top:3px;padding-bottom: 3px; width:160px"
                ng-click="$ctrl.editComment()"><i class="fa fa-plus"></i>Dodaj komentarz
        </button>


        <div ng-if="$ctrl.comment.length"><p>Komentarz:</p>
            <div style="margin-left:5px">{{$ctrl.comment}}</div>
        </div>

    </div>

</div>

<div layout-padding="4" ng-if="$ctrl.disabled">
    <label>Komentarz</label>

    <div flex layout="row" ng-click="$ctrl.editComment()" class="well"
         style="min-height:44px; margin-bottom:0">

        <div flex ng-if="!$ctrl.comment.length" style="font-size:15px; margin-right:14px">Nie dodano komentarza</div>

        <div ng-if="$ctrl.comment.length"><p>Komentarz:</p>
            <div style="margin-left:5px">{{$ctrl.comment}}</div>
        </div>

    </div>

</div>

