
<div class="row border-bottom" ng-if="$ctrl.isLogged">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: white;height:60px">
    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "
       ng-click="$ctrl.changeNavigationState()"
       style="margin-left:10px"><i class="fa fa-bars"></i>
    </a>

    <div class="navbar-header">

      <span class ="minimalize-styl-2" style="font-size: 17px;">Visitor Panel : {{$ctrl.stateName}}</span>


    </div>
    <ul class="nav navbar-top-links navbar-right" ng-if="$ctrl.online && $ctrl.loggedUser">
      <li>
        <a data-ng-click="$ctrl.logout()">
          <i class="fa fa-sign-out"></i> Wyloguj
        </a>
      </li>

    </ul>
    <ul class="nav navbar-top-links navbar-right" ng-if="!$ctrl.online">
      <li>
         <p>Offline</p>
      </li>

    </ul>
  </nav>
</div>
