<div class="ibox float-e-margins" flex>
    <div class="ibox-title" layout="row" layout-align="center center" style="padding-right:21px;padding-left:20px">
        <div  style="font-size:18px; margin-right: 20px">Na obiekcie</div>
        <div flex>
            <div class="btn-group" style="margin-right: 20px">
                <label class="btn btn-sm btn-white" ng-model="$ctrl.selectedType" ng-change="$ctrl.filterData()"
                       uib-btn-radio="'all'"> Wszystkie ({{$ctrl.currentObjects.length}})</label>
            </div>
            <div class="btn-group">
                <label class="btn btn-sm btn-white" ng-model="$ctrl.selectedType" ng-change="$ctrl.filterData()"
                       uib-btn-radio="'persons'">Osoby</label>
                <label class="btn btn-sm btn-white" ng-model="$ctrl.selectedType" ng-change="$ctrl.filterData()"
                       uib-btn-radio="'vehicles'">Pojazdy</label>
            </div>
        </div>

    </div>
    <div class="ibox-content" style=" border-style: solid solid none; border-width: 3px 0 0;">

        <div style="margin-bottom:20px;margin-right:10px">

            <div flex class="input-group">
                <input type="text" placeholder=" Wyszukaj ... " class="input form-control" ng-model="$ctrl.searchText">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"> <i class="fa fa-search"
                                                                      style="padding:0"></i> </button>
                </span>

            </div>
        </div>


        <div style="height:600px!important">
            <div class="my-table" full-scroll>
                <div layout="row" layout-align="space-between center">

                </div>

                <ul class="list-group list-unstyled">

                    <li class=list-group-item" ng-repeat="elem in $ctrl.currentObjects|filter:$ctrl.searchText">
                        <on_object_row object="elem"></on_object_row>
                    </li>
                    <li>
                        <div ng-if="$ctrl.currentObjects.length==0" style="min-height:300px;height: 100%;font-size:15px" layout="row" layout-align="center center">
                            <div >                            Brak obiektów do wyświetlenia
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>

