<div class="tabs-container" style="margin-left:330px">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div layout="row" layout-align="space-between center">

            <div class="ibox float-e-margins" flex="100">

                <div class="ibox-content" style=" border-style: solid solid none; border-width: 3px 0 0;">
                    <form role="form" name="recordEquipment" novalidate>
                        <div layout="row">

                            <div layout="column" flex="50" layout-padding>

                                <!--<div ng-if="$ctrl.person.isOnBlackList || $ctrl.person.company.isOnBlackList" class="alert alert-danger" style="margin-top=12px">-->
                                    <!--<div ng-if="$ctrl.person.isOnBlackList"> Wybrana osoba znajduje sie na czarnej liście.</div>-->
                                    <!--<div ng-if="$ctrl.person.company.isOnBlackList">Wybrana firma znajduje sie na czarnej liście</div>-->
                                <!--</div>-->

                                <person-field person="$ctrl.person" companies="$ctrl.companies"
                                              surname_and_name_change="$ctrl.sendSurnameAndNameChangeEvent(text)" form_name="recordEquipment">
                                </person-field>


                                <div layout="row" layout-padding style="margin-top:15px">
                                    <action-button on-click="$ctrl.entryAction()" title="Wejście" color="btn-primary"
                                                   size="lg" form_name="recordPerson"
                                                   flex></action-button>
                                    <span style="width:20px"></span>
                                    <action-button on-click="$ctrl.exitAction()" title="Wyjście" color="btn-danger"
                                                   size="lg" form_name="recordPerson"
                                                   flex></action-button>
                                </div>
                            </div>


                            <div layout="column" flex layout-padding>
                                <item-field></item-field>
                            </div>

                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>


</div>


