
<md-card ng-if="$ctrl.gateAction.type === 'personGate'">
    <div layout="row">
        <div style="margin: 12px;" flex>

            <div style="font-size: 14px;color: rgb(38, 38, 38);font-weight: 400;"><span
                    ng-class="$ctrl.gateAction.action.type ==='Exit'?'red-text':'green-text'">{{$ctrl.gateAction.action.type ==='Entry'?'Wejście':'Wyjście'}}</span>:
                {{$ctrl.gateAction.action.date| date:'yyyy-MM-dd HH:mm'}}
            </div>
            <div style="font-size: 15px; color: rgb(38, 38, 38); font-weight: 600; margin: 2px 0 5px 0;">
                {{$ctrl.gateAction.person.surnameAndName}}
            </div>
            <div style="font-size: 14px;color: rgb(38, 38, 38);font-weight: 400;">
                {{$ctrl.gateAction.person.documentIdentifier}}, {{$ctrl.gateAction.person.company.name}}
            </div>
        </div>


        <div style="margin-right:6px;margin-top: 6px;margin-bottom: 6px" layout="column" layout-align="center center">
             <button class="btn btn-xs btn-outline btn-primary" flex ng-click="$ctrl.showDetails($ctrl.gateAction)">
                 <i class="fa fa-long-arrow-right" style="padding-right:0px"></i>
             </button>
        </div>
    </div>

</md-card>

<md-card ng-if="$ctrl.gateAction.type === 'transportGate'">
    <div layout="row">
        <div style="margin-left:12px;margin-top:12px;margin-right:12px" flex>
            <div style="font-size: 14px;color: rgb(38, 38, 38);font-weight: 400;"><span
                    ng-class="$ctrl.gateAction.action.type ==='Exit'?'red-text':'green-text'">{{$ctrl.gateAction.action.type ==='Entry'?'Wjazd':'Wyjazd'}}</span>:
                {{$ctrl.gateAction.action.date|date:'yyyy-MM-dd HH:mm'}}
            </div>
            <span style="font-size: 15px; color: rgb(38, 38, 38); font-weight: 600; margin: 2px 4px 5px 0;">{{$ctrl.gateAction.transport.driver.surnameAndName}} </span>
            ,<span style="font-size: 14px;color: rgb(38, 38, 38);font-weight: 400;">{{$ctrl.gateAction.transport.driver.company._id?$ctrl.gateAction.transport.driver.company.name:'Brak firmy'}}</span>

            <div style="font-size: 15px; color: rgb(38, 38, 38); font-weight: 600; margin: 2px 0 5px;">
                {{$ctrl.gateAction.transport.vehicle.registration}}
            </div>


        </div>


        <div style="margin-right:6px;margin-top: 6px;margin-bottom: 6px" layout="column" layout-align="center center">
            <button class="btn btn-xs btn-outline btn-primary" flex ng-click="$ctrl.showDetails($ctrl.gateAction)">
                <i class="fa fa-long-arrow-right" style="padding-right:0px"></i>
            </button>
        </div>
    </div>


</md-card>
