<div>
    <div class="client-detail">
        <div layout="row" style="font-weight: 700;margin-bottom: 18px" layout-align="center center">
            <div style="font-size:24px;font-weight: 700">Transport</div>
            <div flex style="margin-left:20px;font-size:17px;font-weight: 600">
                {{$ctrl.transport.createdDate |date:'yy-MM-dd HH:mm'}}
            </div>
            <!--<div class="pull-right">-->
                <!--<button class="btn btn-default" ng-click="$ctrl.onEditAction()">Edytuj</button>-->
            <!--</div>-->
        </div>

        <div id="vertical-timeline" class="vertical-container dark-timeline no-margins">
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg">
                    <i class="fa fa-user"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h4>Kierowca</h4>
                    <ul class="list-group clear-list" style="margin-bottom: 0">
                        <li class="list-group-item fist-item" style="padding-top:5px;padding-bottom: 5px">
                            <div layout="row" style="margin-bottom: 5px">
                                <div flex="25">Nazwisko Imię</div>
                                <div flex><strong>{{$ctrl.transport.driver.surnameAndName}}</strong></div>
                            </div>
                        </li>
                        <li class="list-group-item fist-item" style="padding-top:5px;padding-bottom: 5px">
                            <div layout="row" style="margin-bottom: 5px">
                                <div flex="25">Telefon</div>
                                <div flex><strong>{{$ctrl.transport.driver.phone?$ctrl.transport.driver.phone:'Nie podano'}}</strong></div>
                            </div>
                        </li>
                        <li class="list-group-item" style="padding-top:5px;padding-bottom: 5px">
                            <div layout="row" style="margin-bottom: 5px">
                                <div flex="25">Dokument</div>
                                <div flex><strong>{{$ctrl.transport.driver.documentIdentifier}}</strong></div>
                            </div>
                        </li>
                        <li class="list-group-item" style="padding-top:5px;padding-bottom: 5px">
                            <div layout="row" style="margin-bottom: 5px">
                                <div flex="25">Firma</div>
                                <div flex><strong>{{$ctrl.transport.driver.company.name}}</strong></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon blue-bg">
                    <i class="fa fa-car"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h4>Pojazd</h4>
                    <ul class="list-group clear-list" style="margin-bottom: 0">
                        <li class="list-group-item fist-item" style="padding-top:5px;padding-bottom: 5px">
                            <div layout="row" style="margin-bottom: 5px">
                                <div flex="25">Pojazd</div>
                                <div flex><strong>{{$ctrl.transport.vehicle.registration}}</strong></div>
                            </div>
                        </li>
                        <li class="list-group-item fist-item" style="padding-top:5px;padding-bottom: 5px" ng-if="$ctrl.transport.trailer.registration">
                            <div layout="row" style="margin-bottom: 5px">
                                <div flex="25">Naczepa</div>
                                <div flex><strong>{{$ctrl.transport.trailer.registration}}</strong></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="vertical-timeline-block" ng-if="$ctrl.transport.passengers.length">
                <div class="vertical-timeline-icon yellow-bg">
                    <i class="fa fa-users"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h4>Pasażerowie</h4>
                    <ul class="list-group clear-list" style="margin-bottom: 0">
                        <li class="list-group-item" ng-repeat="passenger in $ctrl.transport.passengers">
                            <div layout="row" style="padding: 5px 5px 5px 0;">
                                <div flex="5">{{$index+1}}.</div>
                                <div flex>
                                    <div style="font-size:14px">
                                        <b>{{passenger.surnameAndName}}</b>
                                    </div>
                                    <div style="font-size:12px">
                                        <span ng-if="passenger.company.name">Firma: {{passenger.company.name}}, </span> <span
                                            ng-if="passenger.phone">Telefon: {{passenger.phone}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="vertical-timeline-block" ng-if="$ctrl.transport.items.length">
                <div class="vertical-timeline-icon lazur-bg">
                    <i class="fa fa-laptop"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h4>Przedmioty</h4>
                    <ul class="list-group list-unstyled" style="margin-bottom: 0">
                        <li class="list-group-item" ng-repeat="item in $ctrl.transport.items">
                            <div layout="row" style="padding: 5px 5px 5px 0;">
                                <div flex="5">{{$index+1}}.</div>
                                <div>
                                    <div>
                                        <b> {{item.name}}</b><span>{{item.type}}</span>
                                        <div>{{item.code}}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>

    </div>
</div>


